# ============================
#   PYTHON
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# ============================
#   ENTORNOS VIRTUALES
# ============================
venv/
.env/
.venv/

# ============================
#   BASES DE DATOS / SQLITE
# ============================
# *.db
*.sqlite
*.sqlite3

# ============================
#   BACKUPS / EXPORTS
# ============================
*.tar.gz
*.zip
*.bak

# ============================
#   VS CODE
# ============================
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# ============================
#   SISTEMA / TEMPORALES
# ============================
.DS_Store
Thumbs.db
*.swp
*.tmp
